<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Support</servlet-name>
        <servlet-class>eud.mum.cs472wap.lab11.SupportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Support</servlet-name>
        <url-pattern>/support</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>support-email</param-name>
        <param-value>ltolosacontreras@mum.edu</param-value>
    </context-param>
</web-app>